*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

input button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #01070e;
  font-family: 'Roboto';
}

.login-form {
  display: block;
  position: relative;
}

.login-form:after {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 1;
  background-image: linear-gradient(to bottom right, #0088BC, #FF8B00, #D83F1F);
}

.login-form .form-inner {
  position: relative;
  display:block;
  background-color: #FFF;
  padding: 30px;
  z-index: 2;
}

.login-form .form-inner h2 {
  color: #888;
  font-weight: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

.login-form .form-inner .form-group {
  display: block;
  width: 300px;
  margin-bottom: 15px;
}

.form-inner .form-group label{
  display: block;
  color: #666;
  font-size: 12px;
  margin-bottom:5px;
  transition: 0.4s;
}

.form-inner .form-group:focus-within label {
  color: #D83F1F;
}
.login-form .form-inner .form-group input {
  display:block;
  width:100%;
  padding: 10px 15px;
  background-color: #F8F8F8;
  border-radius: 8px;
  transition: 0.4s;

}

.login-form .form-inner .form-group input:focus {
  box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

.login-form .form-inner input[type="submit"],
.login-button{
  display:inline-block;
  padding:10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #0088BC 50%, #FF8B00 50%, #D83F1F);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
}

.login-form .form-inner input[type="submit"]:hover {
  background-position: 100% 0%;
}

.welcome {
  flex-wrap: wrap;
  width: 100%;
  background-color: #fff;
  padding: 15px 30px;
  height: inherit;
  display: flex;
}
.welcome > * {
  flex: 1 1 250px;
  margin: 10px;
}
.flex-left {
  width: 60%;
}
.flex-right {
  width:40%;
}
.welcome p {
  color: #888;
  font-size: 15px;
  font-weight: 500;
}

.user-details{
  color: #0088BC;
  font-weight: 700;
}
.user-details:hover .dropdown{
  display: block;
}
.flex-page {
  height: inherit;
}

.welcome-message {
  text-align: left;
  justify-content: center;

}
.dropdown {
  position: relative;
  display: flex;
  float: right;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top:20px;
}

.dropdown-content span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
 
  display: block;
}

.dropdown-content span:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.hotel-details{
  display: flex;
  flex-direction: column;
}

.container{
  width: 95%;
  margin: 0 auto;
  margin-top:0px;
}

.map_container{
  position: relative;
}
.map{
  height: 400px;
  /* width: 370px; */
  overflow: hidden;
  padding-bottom: 22.25%;
  padding-top: 30px;
  position: relative;
}
/* 
.hotel-cards {
  margin-top: 5%;
}

.hotel-card-det {
  border: 1px solid black;
  width:100%;
  margin-bottom:10px;
  height:auto;
  display:flex;
  flex-direction: column;
}
.hotel-image {
  width:25%;
}
.book-and-price {
  width:75%;
}
.book-hotel {
  margin:15px;
}

 */
 /* .filtering-options{
  display: flex;
  margin-bottom: 10px;
 
}
.search-bar {
  width:60%;
}
.dropdown-options {
  width: 40%;
}
.dropdown-align {
  float:right;
} */

/* .display-hotel-cards {
  display:flex;
  width: 50%;
}

.flex-to-display-hotels{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  height: 500px;
  overflow: auto;
} */

.language-selection {
  float: right;
}

.header-value {
  width: 100%;
  background-color: #FFFFFF;
  height: inherit;
  display: flex;
  flex-direction:column;
}
.header-details {
  height: 300px;
  background:linear-gradient(rgb(0 0 0 / 83%), rgb(0 0 33 / 60%)), url('./images/dev/stay1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}
.nav-align {
  display:flex;
  padding: 20px;
  justify-content: space-between;
}

.nav-profile{
  display: flex;
    width: 17%;
    justify-content: space-between;
}

.welcome-details {
  text-align: center;
  color: white;
  margin-top: 40px;
    
}
.welcome-m1 {
  font-size: 50px;
}
.welcome-m2 {
  font-size:30px;
}
.content-load {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.hotel-images-content {
  width:65%;
  margin: 10px;
}
.maps-content {
  width:35%;
}
.image-specifications {
  width: 200px;
    height: 202px;
    border-radius: 10px;
}

.hotel-card-det {
  border-radius: 10px;
  width: 90%;
  margin-bottom: 20px;
  height: 202px;
  display: flex;
  flex-direction: row;
  box-shadow: 10px 5px 5px #949292;
  background-color: #dadce0ad;
}

.flex-to-display-hotels{
    margin-top: 50px;
    height: 450px;
    overflow: auto;
}
.filtering-options {
  display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
     width: 90%;

}
.book-and-price {
  width:100%;
  justify-content: flex-start;
  text-align: left;
  margin: 10px;
}
.pagination-details {
  display: flex;
  text-align: center;
  width: 90%;
  justify-content: space-around;
  margin-top: 20px;
}
.display-hotel-cards {
  cursor: pointer;
}
.hotel-name {
  font-size: 16px;
  font-weight: 600;
}
.hotel-description {
  font-size: 12px;
  margin-top:10px;
}
.hotel-sub-details {

  margin-top: 10px;
  font-weight: 100;
  font-size: 12px;

}
.hotel-info {
  margin-top: 20px;
}
.hotel-view-button {
  background-color: #FF8B00;
  color: white;
  border: none;
  width: 50px;
  height: 25px;
  border-radius: 3px;
  cursor: pointer;
  float: right;
  margin-right: 20px;
  margin-bottom: 10px;
}
.rooms-images {
  padding: 5px;
  border: 1px solid black;
  margin:5px;
}
.images-shoowcase {
  width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.hotel-description-details{
  width: 100%;
  background-color: #80808033;
  padding: 10px;
  margin-top: 20px;
}
.amenities-list {
  margin-left: 20px;
}
.room-specifications {
  width: 100%;
  box-shadow: 10px 5px 5px #949292;
  margin-top: 20px;
  padding: 10px;
  background: #e6e6e6;
  border-radius: 5px;
  display:flex;
}
.rooms-description{
  width: 80%;
}
.book-room {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.room-price {
  font-size: 12px;
  margin-top: 5px;
}
.room-price span {
  font-weight: 600;
}
.book-room-button{
  background-color: #035603;
  color: white;
  border: none;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}
.book-room-button:disabled{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  /* cursor: progress; */
}
.pay-room {
  display: flex;
  justify-content: space-around;
  margin-top:5%;
}
.pay-room input {
  width: 80%;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #FFFFFF;
  margin: 6px;
}
@media (min-width: 300px) and (max-width:500px) {
  .header-details{
    background:linear-gradient(rgb(0 0 0 / 83%), rgb(0 0 33 / 60%)), url('./images/dev/stay.jpg');
    width: 105%;
    height: 250px;
    background-position: center;
  }
  .welcome-details {
    text-align: center;
    color: white;
    margin-top: 20px;
      
  }
  .welcome-m1 {
    font-size: 25px;
  }
  .welcome-m2 {
    margin-top: 10px;
    font-size: 16px;
  }
  .language-selection{
    display: none;
  }
  .content-load {
    display: flex;
    flex-direction: column;
    width: 97%;
    margin: 5px;
    
  }
  .hotel-images-content {
    width:100%;
    margin: 10px;
  }
  .maps-content {
    width:100%;
  }
  .image-specifications {
    width: 100%;
    height: 200px;
  }
  .hotel-card-det {
    border-radius: 2px;
    width: 94%;
    margin-bottom: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .hotel-sub-details .hotel-info,.hotel-rating, .hotel-distance {
    display:none;
  }
  .hotel-view-button {
    margin-top:2px;
  }
}

@media (min-width: 700px) and (max-width: 900px){
  .header-details{
    background:linear-gradient(rgb(0 0 0 / 83%), rgb(0 0 33 / 60%)), url('./images/dev/stay3.jpg');
    width: 105%;
    height: 335px;
    background-position: center;
  }
  .welcome-details {
    text-align: center;
    color: white;
    margin-top: 20px;  
  }
  .nav-align {
    display: flex;
    padding: 35px;
    justify-content: space-between;
  }
  .nav-profile {
    display: flex;
    width: 24%;
    justify-content: space-between;
  }
  .language-selection {
    float: right;
    margin-right: 12px;
  }
  .content-load {
    display: flex;
    flex-direction: column;
    width: 97%;
    margin: 5px;
    
  }
  .hotel-images-content {
    width:100%;
    margin: 10px;
  }
  .maps-content {
    width:100%;
  }
  .image-specifications {
    width: 100%;
    height: 200px;
  }
  .hotel-card-det {
    border-radius: 2px;
    width: 94%;
    margin-bottom: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .hotel-sub-details .hotel-info,.hotel-rating, .hotel-distance {
    display:none;
  }
  .hotel-view-button {
    margin-top:2px;
  }
  .display-hotel-cards {
    display:flex;
    width: 50%;
  }
  .flex-to-display-hotels{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    height: 500px;
    overflow: auto;
  } 
  .welcome-m1 {
    font-size: 40px;
  }
  .welcome-m2 {
    margin-top: 10px;
    font-size: 24px;
  }
  
}

